<div class="p1">
  <mat-toolbar>
    <h1 class="h"><i><b>Events by Udani</b></i></h1>
  </mat-toolbar>
</div>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Home">
    <h1 style="text-align: center;color: rgb(240, 46, 143);"><i><b>Welcome to Events by Udani</b></i></h1>
    <table>
      <tr>
        <td>
        <div class="d1">
         <img src="assets\image\photographer.jpg" width="75%" style="margin:auto">
        </div>
        
        
        <div style="width: 200; margin-left: 250px; margin-right: 250px;" >
          <p style="text-align: center;font-size: 20px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color: deeppink;"><b></b></p>
          <p style="font-size: 20px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: rgb(221, 39, 151);">An unforgettable event is not one big thing, it is a million little things. We believe in the little things because they add soul, uniqueness and gives meaning to your special day. From the perfect location to the detailed place setting, from the grandest vision to the tiniest quirk, <b>EVENTS BY Udani</b> aspire to create an event that celebrates you,  your future, giving life to memories that you can grow old with. </p>
        </div>
        </td>
      </tr>
  </table>
  </mat-tab>
  <mat-tab label="About us">
    <h2>About us</h2>
    <div class="d1">
      <img src="assets\image\about.jpg" width="75%" style="margin:auto">
     </div>
  </mat-tab>
  <mat-tab label="Gallery">
    <table>
      <tr>
      <td><img src="assets\image\hotel1.jpg" width="400" height="345" style="padding: 15px;"></td>
      <td><img src="assets\image\hotel2.jpg" width="400" height="345" style="padding: 15px;"></td>
      <td><img src="assets\image\light.jpg" width="400" height="345" style="padding: 15px;"></td>
    </tr>
    <tr>
      <td><img src="assets\image\cake1.jpg" width="400" height="345" style="padding: 15px;"></td>
      <td><img src="assets\image\flower.jpg" width="400" height="345" style="padding: 15px;"></td>
      <td><img src="assets\image\cake2.jpg" width="400" height="345" style="padding: 15px;"></td>
    </tr>
    </table>
  </mat-tab>
  <mat-tab label="Services">
    <table class="t1">
      <tr style="marker-mid: inherit;">
        <td>
        <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: rgb(189, 34, 112);">Wedding</h2>
        <img src="assets\image\bride1.jpg" width="400" height="345" style="padding: 50px;">
        </td>
        <td><p style="font-size: 18px; color: rgb(77, 40, 59);font-family:Verdana, Geneva, Tahoma, sans-serif">A wedding is the most iconic day in anyone’s life, and that is why as a wedding & Event planner our approach to weddings is personal and highly attentive. We offer special packages with customizable wedding options for couples who choose destination weddings. We work closely with our clients to put together unforgettable moments for them and their guests. Our talented and experienced team will be there throughout to come up with new concepts to suit the customers’ needs, assist them in selecting the perfect venue, and guide our clients each step of the way on their special day.

        </p>
        </td>
      </tr>
      <tr>
        <td><h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: hotpink; text-align: center;">Full Wedding Planning</h2></td>
        <td><p style="font-size: 18px; color:rgb(77, 40, 59) ;font-family:Verdana, Geneva, Tahoma, sans-serif">This package is ideal for a couple that requires an end to end guidance. It covers all of the details that concern the function, including making budgets and assisting with booking venues and management of vendors and everything in between which involves assistance in selecting wedding attire, accessories, color scheme, overall theme and style of the wedding desired.  Up to the day of the wedding, our team will be ever ready to assist and help you at all times. Our main goal is to get their ideas as much as possible, give professional advice and create that dreamy wedding for our clients. </p></td>
        <td><img src="assets\image\bride2.jpg" width="400" height="345" style="text-align: center;"></td>
      </tr>
      <tr>
        <td><img src="assets\image\bride3.jpg" width="400" height="345"></td>
        <td><p style="font-size: 18px; color:rgb(77, 40, 59);font-family:Verdana, Geneva, Tahoma, sans-serif">This package is ideal for a couple that may have completed the planning process up to a certain level and requires guidance partially. This will mainly focus on providing our assistance and overseeing the entire function with the help of the couple. </p></td>
        <td><h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: hotpink; text-align: center;">Partial Wedding Planning</h2></td>
        
      </tr>
      <tr>
        <td><p style="font-size: 18px; color: rgb(77, 40, 59);font-family:Verdana, Geneva, Tahoma, sans-serif">We do birthday parties for different ages. We can help you plan themes, vendors and execute it for you. It doesn’t matter how many birthdays you’ve had, each one is as special as you! Birthdays only come around once a year so planning that special party is often a big deal. We transform the location of your choice into a luxurious and glamorous party with the perfect mix of all the details.</p></td>
        <td><h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: rgb(189, 34, 112); text-align: center;">Birthday & Parties</h2></td>
        <td><img src="assets\image\birth.jpg" width="400" height="345"></td>
      </tr>
      <tr>
        <td><h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: rgb(189, 34, 112);">Social Events & Corporate</h2></td>
        <td><img src="assets\image\party.jpg" width="400" height="345"></td>
        <td><p style="font-size: 18px; color: rgb(247, 91, 174);font-family:Verdana, Geneva, Tahoma, sans-serif">Need to plan a private dinner? We got you covered. We have now extended our services to cover all your event needs. Let it be an intimate set up of a Private Dinner or a much relaxed affair like a Cocktail Party, we will take care of it all.</p></td>
      </tr>
    </table>

  </mat-tab>
<mat-tab label="Blog"></mat-tab>
  <mat-tab label="Contact us">
    
    <div class="d2">
      <h1 class='h1'><b>Tell Your Story</b></h1>
    <p style="text-align: center; font-size: 20px;">we want to tell us about your dream event in detail so we can help you put together your perfect vision.</p>
    
    <table class="t1">
      <tr>
        <td style="text-align: center;"> <mat-icon aria-hidden="false" aria-label="phone_in_talk">phone</mat-icon></td>
        <td><b>call us</b><br>+94772546857</td>
      </tr>
        <td><mat-icon aria-hidden="false" aria-label="email">email</mat-icon></td>
        <td><b>Email</b><br>Infor@eventsbyimaa.com</td>
    </table>
   
  
    <br>

    <form style="text-align: center;">
      <input type="text" id="rcorners2" name="name" value="Your Name" style="text-align: center;" >
    </form>
    <form style="text-align: center;">
      <input type="text" id="rcorners2" name="name" value="Mobile Phone" style="text-align: center;" >
    </form>
    <form style="text-align: center;">
      <input type="text" id="rcorners2" name="name" value="Email" style="text-align: center;" >
    </form>
    <form style="text-align: center;">
      <input type="text" id="rcorners2" name="name" value="Venue & Date" style="text-align: center;" >
    </form>
    <form style="text-align: center;">
    <input type="text" id="rcorners3" name="name" value="Message" style="text-align: center;" >
    </form>
    <br>
    <form style="text-align: center;">
      <input type="submit" id="rcorners4" name="submit" value="Send" style="text-align: center;" >
    </form>
    </div>
  </mat-tab>

</mat-tab-group>
  <footer>
    
    <app-icon></app-icon>
    
    <table class="t1">
      <tr>
        <td style="text-align: center;"><mat-icon aria-hidden="false" aria-label="location">place</mat-icon></td>
        <td><b>Meet us</b><br>No.89/2,Nawala Road,Colombo 2.</td>
      
        <td>          </td>
        <td style="text-align: center;"> <mat-icon aria-hidden="false" aria-label="phone_in_talk">phone</mat-icon></td>
        <td><b>call us</b><br>+94772546857</td>
      
        <td>          </td>
        <td style="text-align: center;"><mat-icon aria-hidden="false" aria-label="email">email</mat-icon></td>
        <td><b>Email</b><br>Infor@eventsbyimaa.com</td>
      </tr>
    </table>

    <div style="background-color: dimgray; width: 100%; text-align: center; text-decoration-color: black;">
      Events by Imaa &copy; 2020 /All right Reseved.| <b>Privacy policy</b>
    </div>
  </footer>






<router-outlet></router-outlet>